@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    
    background-color: lightgrey;
    font-size: 15px;
	line-height: 20px;
}

.main_container{
    display: flex;
	width: 800px;
	margin: 50px auto;
	background: white;
	padding: 10px;
    flex-direction:row;
}


#mi_foto{
    text-align: center;
}

#mi_foto img{
    border-radius: 50%;
    width: 200px;
    
    

}

#res_l{
    background-color: #9DB5EE;
    width: 300px;
    margin-right: 3%;
    padding-right: 20px;
    padding-left: 10px;
}
#res_l .hero{
    display:none;
}

#res_l *{
    color:white
}

.left_titles{
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid white
    
}


.hero{
    background-color: #6f788d;
    box-shadow: 5px 5px 5px 5px lightgrey ;
    padding: 10%;
    text-align: center;
   

}

h1{
    color: white;
    text-transform: uppercase;
    padding-bottom:20px;
}

.hero h2{
    color: white;
    border-top:2px solid white;
    text-transform: uppercase;
    letter-spacing: normal;
    padding-top:20px;
}

#res_r #abt-me{
    background-color:#6f788d;
    padding-top:5px;
    margin-top:20px;
    
    
}

#abt-me p{
    color:white;
    line-height: 2em;
    padding-right: 10px;
    padding-left: 10px;
}

#abt-me h2{
    color:white;
    text-transform: uppercase;
    text-align: center;
    

}

#exp h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom:black;
    text-align: center;
    
}

#exp h3{
    
    font-weight: bold;
}

#exp h4{
    font-weight: bold;
    
}

meter{
    display: block;
    width: 80%;
    height: 20px;
    padding-top: 5px;
}

meter::-webkit-meter-optimum-value{
    background: #6f788d;
}

meter::-moz-meter-optimum{
    background: #6f788d;
}

#skills li{
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact ul {
    padding-left:5px;
    list-style-type: none;
    font-size: 17px;
    width:290px;
    
}

@media screen and (max-width:800px){
    .main_container{
        display:flex;
        width: 95%;
		margin: 10px auto;
		flex-direction: column-reverse;
    }
    #res_l{
        box-sizing: border-box;
		width:100%;
    }

    #res_l .hero{
        display:block;
        background-color: #9DB5EE;
        box-shadow: none;
        
    }

    
    #res_l .hero h2{
        border-bottom:white;
        padding-top:40px;
        padding-bottom:150px;
    }

    #res_r .hero{
        display:none;
    }
    
    #res_r {
        order:-1;
        width:100%;
        box-sizing: border-box;
    }


    #abt-me{
        box-sizing: border-box;
    }
}
@media screen and (max-width:340px){
    .main_container{
        display:flex;
        width: 95%;
		margin: 10px auto;
		flex-direction: column-reverse;
    }
    #res_l{
        box-sizing: border-box;
		width:100%;
    }

    #res_l .hero{
        display:block;
        background-color: #9DB5EE;
        box-shadow: none;
        
    }

    
    #res_l .hero h2{
        border-bottom:white;
        padding-top:40px;
        padding-bottom:150px;
    }

    #res_r .hero{
        display:none;
    }
    
    #res_r {
        order:-1;
        width:100%;
        box-sizing: border-box;
    }


    #abt-me{
        box-sizing: border-box;
    }

    #contact ul{
        font-size:15px;
    }

}
